---
import ExperienceHeader from "./ExperienceHeader.astro";
import ExperienceContent from "./ExperienceContent.astro";
export interface Props {
  title: string;
  company: string;
  link: string;
  duration: string;
  content: string;
}
const { title, link, duration, company, content } = Astro.props;
---

<section class="my-4">
  <ExperienceHeader {title} {duration} {link} {company} {content} />
  <ExperienceContent {content} />
</section>
